@use "src/assets/styles/Variables" as v;

.social {
  &__container {
    position: relative;
    width: 100%;

    &-left {
      width: 70%;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &-right {
      position: fixed;
      top: 55%;
      right: 2rem;
      transform: translateY(-50%);
      width: 25%;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__form {
    background: v.$first-color;
    border-radius: 2rem;
    padding: 10% 2rem;
  }
}