@use "src/assets/styles/Variables" as v;

.social {
  &__container {
    position: relative;
    width: 100%;

    &-left {
      width: 70%;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &-right {
      position: fixed;
      top: 55%;
      right: 2rem;
      transform: translateY(-50%);
      width: 25%;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__form {
    position: relative;
    background: v.$first-color;
    border-radius: 2rem;
    overflow: hidden;
    padding: 10% 2rem;

    & i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 3.25rem;
      color: v.$light-color;
      background: v.$alert-color;
      border-radius: 0 2rem 0 2rem;
      cursor: pointer;
      transition: all .7s ease;
      padding: 2rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}