@use "src/assets/styles/Variables" as v;

.profils {
  &__container {
    position: relative;
    width: 100%;

    &-left {
      width: 70%;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &-right {
      position: fixed;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      width: 25%;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__details {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 2.5rem 0;

    @media (max-width: 1024px) {
      display: flex;
    }

    &-localisation,
    &-job {
      display: flex;
      align-items: center;
      gap: 1rem;

      & span {
        font-size: 1.5rem;
      }

      & i {
        font-size: 2.5rem;
      }
    }
  }

  &__pictures {
    position: relative;
    width: 100%;
    height: 30vh;

    &-banner {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
      }
    }

    &-picture {
      position: absolute;
      left: 50%;
      bottom: -40%;
      transform: translateX(-50%);
      width: 25rem;
      height: 25rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.4) 0 3rem 9rem;
      }
    }
  }

  &__dots {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 12.5rem 0 0 0;

    @media (max-width: 768px) {
      display: flex;
    }

    & i {
      font-size: 5rem;
      color: v.$first-color-dark;
      transition: all .7s ease;
    }

    &-modal {
      width: 100%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transform: translateY(-100%);
      opacity: 0;
      z-index: -1;
      transition: all .7s ease;

      @media (max-width: 425px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        & i {
          width: 25%;
          text-align: center;
        }
      }
      
      &--active {
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
        transition: all .7s ease;
      }
    }
  }

  &__infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: v.$first-color-dark;

    @media (max-width: 768px) {
      display: none;
    }

    &-left,
    &-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1.5rem 4rem;
    }

    &-right {
      flex-direction: column-reverse;
    }

    &-social,
    &-contact {
      display: flex;
      align-items: center;
      gap: 3rem;


      & i {
        font-size: 3.5rem;
      }
    }

    &-localisation,
    &-job {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      @media (max-width: 1024px) {
        display: none;
      }

      & i {
        font-size: 2.5rem;
      }

      & span {
        font-size: 1.5rem;
      }
    }

    &-contact,
    &-localisation {
      justify-content: flex-end;
      text-align: end;
    }
  }

  &__post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 6rem;
    transition: all .7s ease;

    @media (max-width: 768px) {
      margin: -6rem 0 0 0;
      padding: 0 2.5%;
    }

    &-active {
      @media (max-width: 768px) {
        margin: 0;
        padding: 4rem 2.5%;
      }
    }
  }
}