@use "src/assets/styles/Variables" as v;

.profil {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__name {
    font-family: v.$title-font;
    font-size: 1.75rem;
    color: v.$light-color;
  }

  &__picture {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}