@use "src/assets/styles/Variables" as v;

.post {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-height: 60rem;
  border-radius: 2rem;
  box-shadow: v.$box-shadow;
  overflow: hidden;

  &__alt {
    position: relative;
    width: 100%;
    height: 20rem;
    background: v.$first-color-light;
    border-radius: 2rem;
    box-shadow: v.$box-shadow;
    overflow: hidden;
  }

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .7s ease;
  }

  &:hover &__background {
    transform: scale(1.1);
  }

  &__container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    background: v.$background;
    background: v.$radial-background;
    padding: 2rem;

    &-background {
      background: linear-gradient(transparent, v.$first-color-dark);
    }
  }

  &__content {
    width: 100%;

    & p {
      font-size: 1.75rem;
      text-align: center;
      color: v.$light-color;
    }
  }

  &__interaction {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1.25rem 2rem;

    & i {
      font-size: 2.5rem;
      color: v.$light-color;
    }
  }
}