/* VARIABLES */
// fonts
$primary-font: 'Rubik', sans-serif;

// colors
$light-color: #f1f1f1;
$transparent-color-light: rgba(187, 197, 198, .75);
$transparent-color: rgba(87, 111, 114, .9);
$first-color-light: #9aa8aa;
$first-color: #576f72;
$first-color-dark: #3c4d4f;
$second-color-light: #b8abb7;
$second-color: #72576f;
$alert-color: #A86464;
$dark-color: #2b3739;

// margin & padding & gap