@use "src/assets/styles/Variables" as v;

.pictures {
  position: relative;
  width: 100%;
  height: 20rem;
  z-index: 1;

  &__banner {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 2rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-form {
      position: absolute;
      right: -50%;
      bottom: -50%;
      display: grid;
      place-items: center;
      background: v.$first-color;
      border-radius: 2rem 0 0 0;
      padding: 2rem 4rem;
      transition: all .7s ease;

      label {
        font-size: 4rem;
        color: v.$light-color;
        cursor: pointer;
      }

      input {
        display: none;
      }
    }

    &:hover &-form {
      right: 0;
      bottom: -5%;
    }
  }

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: v.$box-shadow-alt;
    background: v.$light-color;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-form {
      position: absolute;
      left: 50%;
      bottom: -50%;
      transform: translateX(-50%);
      width: 100%;
      display: grid;
      place-items: center;
      background: v.$first-color;
      padding: 1.5rem 4rem;
      transition: all .7s ease;

      label {
        font-size: 4rem;
        color: v.$light-color;
        cursor: pointer;
      }

      input {
        display: none;
      }
    }

    &:hover &-form {
      left: 50%;
      bottom: -5%;
    }
  }
}